# PostgreSQL
POSTGRES_USER=Backend
POSTGRES_PASSWORD=SuperStrongBackendPassword
POSTGRES_DB=hezze_db

# Go
DB_HOST=postgres
DB_PORT=5432
DB_USER=Backend
DB_PASSWORD=SuperStrongBackendPassword
DB_NAME=hezze_db
DB_SSLMODE=disable
JWT_SECRET=6cvXtB8nYTzB3HUIz6ZDNYLTeWbgePKZJt8ohbqnRBm

# React
VITE_API_URL=http://localhost:8000/api